<style>

#Voornaam{
	border: 1px solid black;
}

#Achternaam{
	border: 1px solid black;
}

#PostcodeNr{
	border: 1px solid black;
}

#PostcodeTxt{
	border: 1px solid black;
}

#Mobiel{
	border: 1px solid black;
}

#Email{
	border: 1px solid black;
}

#Woonplaats{
	border: 1px solid black;
}


</style>